{{ if and
  .Site.Params.comment.enable
  (ne .Params.comment.enable false)
}}
{{ $cssOverride := site.Params.comment.cssOverride }}
{{ $isHome := .IsHome }}
{{ if not $isHome }}
<hr>
{{ end }}
<h2 class="home-comments-title">Comments</h2>
<script defer src="{{ .Site.Params.comment.server }}/comentario.js"></script>
{{- /* theme-toggle is enabled */}}
{{- if (not site.Params.disableThemeToggle) }}
{{- /* theme is light */}}
{{- if (eq site.Params.defaultTheme "light") }}
<comentario-comments
  domain-id="{{ .Site.Params.comment.siteID }}"
  no-font="true"
  css-override={{ $cssOverride }}
    {{ if $isHome }}page-id="/"{{ end }}
  theme="dark"
></comentario-comments>
{{- /* theme is dark */}}
{{- else if (eq site.Params.defaultTheme "dark") }}
<comentario-comments
  domain-id="{{ .Site.Params.comment.siteID }}"
  no-font="true"
  css-override={{ $cssOverride }}
    {{ if $isHome }}page-id="/"{{ end }}
  theme="light"
></comentario-comments>
{{- else }}
{{- /* theme is auto */}}
<comentario-comments
  domain-id="{{ .Site.Params.comment.siteID }}"
  no-font="true"
  css-override={{ $cssOverride }}
    {{ if $isHome }}page-id="/"{{ end }}
></comentario-comments>
<!-- Theme toggle -->
<script>
  let theme;
  if (localStorage.getItem("pref-theme") === "dark") {
      theme = 'dark';
  } else if (localStorage.getItem("pref-theme") === "light") {
      theme = 'light';
  } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      theme = 'dark';
  } else {
      theme = 'light';
  }
  const syncComentarioTheme = () => {
      const comentario = document.querySelector("comentario-comments");
      if (comentario) {
          comentario.setAttribute("theme", theme);
      }
  };
  if (document.readyState === "loading") {
      document.addEventListener("DOMContentLoaded", syncComentarioTheme);
  } else {
      syncComentarioTheme();
  }
</script>
{{ end }}
{{- end -}}
<!-- Replace input placeholder -->
<script>
const observer = new MutationObserver(() => {
    const placeholder = document.querySelector(".comentario-add-comment-placeholder");

    if (placeholder) {
        placeholder.textContent = "{{ .Site.Params.comment.placeholder }}";
        observer.disconnect();
    }
});

observer.observe(document.body, {
    childList: true,
    subtree: true
});
</script>
{{- end }}
