{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    {{- if .Image }}
    <div class="home-info-bg"
        style="background-image: url('{{ .Image }}');">
        <div class="home-info-title">
        <header class="entry-header" style="color: rgb(255, 255, 255, 0.8) !important;">
            <h1 style="color: rgb(255, 255, 255, 0.8) !important;">{{ .Title | markdownify }}</h1>
        </header>
        <div class="entry-content" style="color: rgb(255, 255, 255, 0.8) !important;">
            {{/*  {{ .Content | markdownify }}  */}}
            <h2 style="color: rgb(255, 255, 255, 0.8) !important;">{{ .Content | markdownify }}</h2>
        </div>
        <footer class="entry-footer" style="color: rgb(255, 255, 255, 0.8) !important;">
            {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
        </footer>
        </div>
    </div>
    {{- else }}
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content md-content">
        {{ $opts := dict "display" "block" }}
        {{ .Content | $.Page.RenderString $opts }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
    {{- end }}
</article>
{{- end -}}
